
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="page">
        <div class="page1">
    <div class="signup">
        <h2>Register</h2>
        <form method="post" >
            {% csrf_token %}
            <div class="input-group">
            <i class="fas fa-user"></i>
            <input type="text" name="username" placeholder="Username" required>
            </div>
            <br>
            <div class="input-group">
        <i class="fa fa-envelope"></i> 
            <input type="email" name="email" placeholder="Email" required>
            </div>
            <br>
        <div class="input-group">
            <i class="fas fa-lock"></i>
            <input type="password" name="password1" placeholder="Password" required>
        </div>
        <br>
            <div class="input-group">
            <i class="fas fa-lock"></i>
            <input type="password" name="password2" placeholder="Confirm Password" required>
            </div>
            <br><br>
            <button type="submit">Register</button>
        </form>
        <br>
<p><a href="{% url 'login' %}">Already I have an account? Login</a></p>
    </div>
</div>
</div>
</body>
</html>
